@charset 'UTF-8';
//@import 'bourbon';
@import 'utils/variables';
@import 'utils/functions';
@import 'utils/media';
@import 'utils/mixins';
@import 'utils/placeholders';

@import 'base/reset';
@import 'base/typography';
@import 'base/global';

//@import 'components/customcheckbox';
@import 'components/customscrollbar';
@import 'components/navbar';
@import 'components/biglist';
@import 'components/wizard';

@import 'pages/crearllamado';


.form-control{
    height: 26px;
    padding: 2px .75rem;
    font-size: .8rem;
    border-radius:0;
}

.tecnioo-card{
    min-height: 100%;
    &--flag{
        max-height: 80px;
        width: 3px;
        background: $brand-primary-color;
    }
    &--title{
      &__status{
        width: 14px;
        height: 14px;
        display: inline-block;
        border-radius: 50%;
        margin-right: 10px;
      }
    }
    &--img{
      width: 45px;
      height: 45px;
      overflow: hidden;
      border: 1px solid $medium-grey;
    }
}
.select-day {
  &:hover {
    background: $brand-primary-color;
    color:$white;
  }
}