.tecnioo-navbar{
    &--wrap{
        width: 60px;
        height: 60px;
        border-radius: 50%;
        background-color: red;
        overflow: hidden;
        &__img{
            max-width: 60px;
        }
    }
}
.navbar-nav .dropdown-menu{
    position: absolute;
}