.modal.fade(id="eliminarOt" tabindex="-1" role="dialog" aria-labelledby="eliminarOtLabel" aria-hidden="true")
    .modal-dialog(role="document")
        .modal-content
            .modal-header
                ul.w-100.d-flex.justify-content-between.align-items-center
                    li
                        h4 Eliminar OT #98876
                    li
                        span.px-4.bg-success.text-white.py-2.my-4 brxpm
                    li
                        button(type="button" class="close" data-dismiss="modal" aria-label="Close")
                            span(aria-hidden="true") &times;
            .modal-body
                table.table.table-striped.my-4
                    tbody
                        tr
                            td 
                                b Código Máquina
                            td #98876
                        tr
                            td 
                                b Máquina
                            td Nombre de Máquina [Módelo] [Logo]
                        tr
                            td 
                                b Cliente Spot
                            td 1220 - Burger King - Huechuraba
                        tr
                            td 
                                b Técnico
                            td Juan González
                        tr
                            td 
                                b Ruta 
                            td RP80
                        tr
                            td 
                                b Fecha de Programación
                            td 31-08-2020
                .text-center
                    button.btn.btn-danger.sweet-error Confirmar eliminación