extends ../layout/_header

block append config
    -var pageTitle = 'Home'
    -var pageDescription = ''
    -var baseDir = ''
    -var linkSrc = ''

block mainContent
    main.content-wrapper
        section.container-fluid
            .row
                .col-4.col-lg-3.col-xl-2.bg-grey.pt-5.pb-3.min-h-100
                    .input-group.input-group-sm.mb-4
                        .input-group-prepend
                            label.input-group-text(for="#step2SelectClientType")
                                i.fas.fa-search
                            input.form-control(type="text" placeholder="Buscar Fecha")
                    h4 
                        b Vigente
                        
                .col-8.col-lg-9.col-xl-10.pt-5.pb-3
                    h4 Todos
                    hr
                    include ../layout/_filtros
                    .table-responsive
                        table.table.table-striped.mt-4
                            thead
                                tr
                                    th(scope="col") Creacion
                                    th(scope="col") Ticket
                                    th(scope="col") Tipo de Llamado
                                    th(scope="col") Ots
                                    th(scope="col") Último Cierre
                                    th(scope="col") Asignación
                                    th(scope="col") SLA
                                    th(scope="col") Sucursal
                                    th(scope="col") Comuna
                            tbody
                                +tableRow(
                                    'primary', 
                                    'Abierto',  
                                    'Sin Asignación', 
                                    'N/A'
                                    )
                                +tableRow(
                                    'secondary', 
                                    'Asignado',  
                                    'Juan Peréz', 
                                    '+48h'
                                    )
                                +tableRow(
                                    'primary', 
                                    'Abierto',  
                                    'Sin Asignación', 
                                    'N/A'
                                    )
                                +tableRow(
                                    'info', 
                                    'Pendiente Cliente',  
                                    'Roberto Mendoza', 
                                    '+3'
                                    )
                                +tableRow(
                                    'danger', 
                                    'Local Cerrado',  
                                    'Juan Peréz', 
                                    '-3'
                                    )
                                +tableRow(
                                    'warning', 
                                    'Pendiente TCM',  
                                    'Juan Peréz', 
                                    '+3'
                                    )
                                +tableRow(
                                    'dark', 
                                    'Pendiente de Validación',  
                                    'Juan Peréz', 
                                    'N/A'
                                    )
                



    include ../layout/_scripts