extends ../layout/_header

block append config
    -var pageTitle = 'Home'
    -var pageDescription = ''
    -var baseDir = ''
    -var linkSrc = ''

block mainContent
    main.content-wrapper
        section.container-fluid
            .row
                .col-4.col-lg-3.col-xl-2.bg-grey.pt-5.pb-3.min-h-100
                    .input-group.input-group-sm.mb-4
                        .input-group-prepend
                            label.input-group-text(for="#step2SelectClientType")
                                i.fas.fa-search
                            input.form-control(type="text" placeholder="Buscar Fecha")
                    h4 
                        b Vigente
                        
                .col-8.col-lg-9.col-xl-10.pt-5.pb-3
                    h4 Todos
                    hr
                    include ../layout/_filtros
                    .table-responsive
                        table.table.table-striped.mt-4
                            thead
                                tr
                                    th(scope="col") Técnico
                                    th(scope="col") Tipo
                                    th(scope="col") Zona
                                    th(scope="col") Nº de Llamados
                                    th(scope="col") Nº de Locales
                                    th(scope="col") Pts Programados
                                    th(scope="col") Ptos Completados
                                    th(scope="col") Cumplimiento
                                    th(scope="col") Hora Inicio
                                    th(scope="col") Hora Término
                            tbody
                                +tableRow(
                                    'primary', 
                                    'Abierto',  
                                    'Sin Asignación', 
                                    'N/A'
                                    )
                



    include ../layout/_scripts