extends ../layout/_header

block append config
    -var pageTitle = 'Detalle de Mantenedor'
    -var pageDescription = ''
    -var baseDir = './'
    -var linkSrc = ''
block links
    link(href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css", rel="stylesheet")

block mainContent
    main.content-wrapper
        section.container.pt-5.pb-3.px-5
            .row.justify-content-center
                .col-sm-6
                    .card.p-5
                        .card-body
                            .card-title.mb-4 
                                h4.pb-4 Editar Tipo de Llamado
                                p 
                                    b Descripción tipo de llamado
                                .form-row
                                    .form-group.col-12
                                        input.form-control#inputText(type="text" name="inputText" placeholder="Input Text" required)
                            .card-text
                                .form-row
                                    .form-grouo.col-6
                                        .custom-control.custom-checkbox.custom-control-inline
                                            input(type="checkbox" id="radio" name="radio" class="custom-control-input")
                                            label.pt-1(class="custom-control-label" for="radio") Vigente
                                .form-row
                                    .form-group.col-6.text-center
                                        a.btn.btn-success.mt-4.mr-4(href="#") Volver
                                    .form-group.col-6.text-center
                                        a.btn.btn-danger.mt-4(href="#") Guardar

    include ../layout/_scripts