extends ../layout/_header

block append config
    -var pageTitle = 'Home'
    -var pageDescription = ''
    -var baseDir = ''
    -var linkSrc = ''

block mainContent
    main.content-wrapper
        section.container-fluid.pt-5.pb-3.px-5
            .row.justify-content-end
                .col-6
                    h4 Home
                .col-6.text-right
                    a.btn.btn-danger.text-white(href="crearllamado.html") Home
                



    include ../layout/_scripts