extends ../layout/_header

block append config
    -var pageTitle = 'Login'
    -var pageDescription = ''
    -var baseDir = ''
    -var linkSrc = ''
block header
    header.navbar-expand.tecnioo-navbar
        nav.navbar.navbar-light.bg-primary.px-2.align-items-center
            .tecnioo-navbar--wrap
                img.tecnioo-navbar--wrap__img(src="./assets/img/Avatar-2", alt="Tecnioo")
block mainContent
    main.content-wrapper
        section.container.pt-5.pb-3.px-5
            .row.justify-content-center
                .col-sm-6
                    .card.text-center.p-5
                        .card-img-top.px-5.mb-4
                            img.w-100(src="./assets/img/Tecnioo-1-p-500.png", alt="Tecnioo")
                        .card-body
                            .card-title.mb-4 
                                h4 Bienvenido a Tecnioo
                                p Ingrese su usuario y contraseña
                            form.px-5(action="")
                                .form-group
                                    input.w-100(type="email", placeholder="Ingresa tu email")
                                .form-group
                                    input.w-100(type="password", placeholder="Ingresa tu contraseña")
                                button.btn.btn-primary.mt-4(type="submit") Ingresar

    include ../layout/_scripts