extends ../layout/_header

block append config
    -var pageTitle = 'Llamados Ok'
    -var pageDescription = ''
    -var baseDir = ''
    -var linkSrc = ''

block mainContent
    main.content-wrapper
        section.container-fluid
            .row
                .col-4.col-lg-3.col-xl-2.bg-grey.pt-5.pb-3.min-h-100
                    .input-group.input-group-sm.mb-4
                        .input-group-prepend
                            label.input-group-text(for="#step2SelectClientType")
                                i.fas.fa-search
                            input.form-control(type="text" placeholder="Buscar Ticket")
                    h6 
                        b Todos
                    hr
                    +listStado(
                        'primary', 
                        'Abiertos', 
                        '8'
                        )
                    +listStado(
                        'secondary', 
                        'Asignados', 
                        '5'
                        )
                    +listStado(
                        'dark', 
                        'En Validación', 
                        '4'
                        )
                    +listStado(
                        'info', 
                        'Pendiente Cliente', 
                        '9'
                        )
                    +listStado(
                        'warning', 
                        'Pendiente TCM', 
                        '2'
                        )
                    +listStado(
                        'danger', 
                        'Local Cerrado', 
                        '7'
                        )
                    hr
                    h6 
                        b Otros Filtros
                    hr
                    +listName( 
                        'Nuevos Hoy', 
                        '18'
                        )
                    +listName( 
                        'Cerrados Hoy', 
                        '7'
                        )
                    +listName( 
                        'Vencidos', 
                        '12'
                        )
                    +listName( 
                        'Re-asignados', 
                        '10'
                        )
                    hr
                    +listStado(
                        'success', 
                        'Llamados Cerrados', 
                        '7',
                        'Consultar'
                        )
                    hr
                .col-8.col-lg-9.col-xl-10.pt-5.pb-3
                    ul.d-flex.align-items-center
                        li.mr-auto
                            h6 
                                b Todos
                        li.px-2
                            p.m-0 última actualización
                            p.m-0 20/05/20 19:03
                        li.pl-2
                            button.btn.btn-outline-primary 
                                i.fas.fa-sync 
                                | Actualizar
                    hr
                    ul.d-flex.justify-content-between.align-items-center
                        li
                            p   
                                span 102 
                                | Resultados
                            .input-group.input-group-sm
                                .input-group-prepend
                                    label.input-group-text(for="#step2SelectClientType")
                                        i.fas.fa-search
                                    input.form-control(type="text" placeholder="Búscar")
                        li
                            .dropdown
                                button.btn.btn-light.dropdown-toggle(type="button" id="dropdownTipo" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false") Tipo de llamado
                                .dropdown-menu(aria-labelledby="dropdownTipo")
                                    each val in ['Todos','Urgencias','Instalaciones','Modificaciones', 'Cambio de accesoio', 'Retiro', 'Vista Inspectiva', 'Capacitación','Perforaciones','Puesta en Marcha','Diagnóstico','Taller']
                                        a.dropdown-item(href="#")= val
                        li
                            .dropdown
                                button.btn.btn-light.dropdown-toggle(type="button" id="dropdownTecnicos" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false") Tipo de máquina
                                .dropdown-menu(aria-labelledby="dropdownTecnicos")
                                    each val in ['Todos','Pedro Carrasco','Jorge Salgado','Juan Gonzalez']
                                        a.dropdown-item(href="#")= val
                        li
                            .dropdown
                                button.btn.btn-light.dropdown-toggle(type="button" id="dropdownZona" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false") Zona TCM
                                .dropdown-menu(aria-labelledby="dropdownZona")
                                    each val in ['Todas','Santiago','Rancagua','Viña del mar']
                                        a.dropdown-item(href="#")= val
                        li
                            button.btn.btn-outline-primary Filtrar
                    .table-responsive
                        table.table.table-striped.mt-4
                            thead
                                tr
                                    th(scope="col") Creacion
                                    th(scope="col") Ticket
                                    th(scope="col") Tipo de Llamado
                                    th(scope="col") Ots
                                    th(scope="col") Fecha de Cierre
                                    th(scope="col") Asignación
                                    th(scope="col") SLA
                                    th(scope="col") Sucursal
                                    th(scope="col") Comuna
                            tbody
                                +tableRow(
                                    'success', 
                                    'Abierto',  
                                    'Sin Asignación', 
                                    '+12'
                                    )
                                +tableRow(
                                    'success', 
                                    'Asignado',  
                                    'Juan Peréz', 
                                    '+48h'
                                    )
                                +tableRow(
                                    'success', 
                                    'Abierto',  
                                    'Sin Asignación', 
                                    'N/A'
                                    )
                                +tableRow(
                                    'success', 
                                    'Pendiente Cliente',  
                                    'Roberto Mendoza', 
                                    '+3'
                                    )
                                +tableRow(
                                    'success', 
                                    'Local Cerrado',  
                                    'Juan Peréz', 
                                    '+3'
                                    )
                                +tableRow(
                                    'success', 
                                    'Pendiente TCM',  
                                    'Juan Peréz', 
                                    '+3'
                                    )
                                +tableRow(
                                    'success', 
                                    'Pendiente de Validación',  
                                    'Juan Peréz', 
                                    '+5'
                                    )
                



    include ../layout/_scripts