extends ../layout/_header

block append config
    -var pageTitle = 'Llamados'
    -var pageDescription = ''
    -var baseDir = ''
    -var linkSrc = ''

block mainContent
    main.content-wrapper
        section.container-fluid.pt-5.pb-3.px-5
            .row.justify-content-end
                .col-6
                    h4 Llamados
                .col-6.text-right
                    a.btn.btn-danger.text-white(href="crearllamado") Crear nuevo llamado
                
        section.container-fluid.px-5
            .row.mb-5.align-items-stretch
                .col-md-5.bg-grey
                    article
                        ul
                            +llamadosCard1(
                                '#35535654', 
                                'Cliente Spot - Cliente Mantante Urgencia de Cooler - [Modelo] - [Logo]', 
                                'Coller no enfria', 
                                'Celocia Rota', 
                                'Problema Eléctrico', 
                                'Providencia 701, Providencia, Santiago', 
                                'Abierto', 
                                '500 pts', 
                                '-12h', 
                                'Sin Asignación'
                                )
                            +llamadosCard1(
                                '#15456565', 
                                'Cliente Spot - Cliente Mantante Urgencia de Cooler - [Modelo] - [Logo]', 
                                'Coller no enfria', 
                                'Celocia Rota', 
                                'Problema Eléctrico', 
                                'Providencia 701, Providencia, Santiago', 
                                'Abierto', 
                                '500 pts', 
                                '-12h', 
                                'Sin Asignación'
                                )

                .col-md-7
                    article.pr-4
                        header
                            p 
                                b Procesados
                        .form-group.row.align-items-center.pl-3
                            input(type="text" placeholder="Buscar ticket").form-control.col-6
                            a(href="#").btn.btn-primary.ml-3.text-white Búscar
                            .dropdown.ml-auto
                                button.btn.btn-secondary.dropdown-toggle(type="button" id="dropdownlistButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false") Acciones
                                .dropdown-menu(aria-labelledby="dropdownlistButton")
                                    a.dropdown-item(href="") Asignar Directo
                                    a.dropdown-item(href="") Eliminar
                        ul
                            hr.pb-2
                            +validacionesPendientesCards(
                                '#12345678', 
                                'Cliente Spot - Cliente Mantante Urgencia de Cooler - [Modelo] - [Logo]', 
                                'Coller no enfria', 
                                'Celocia Rota', 
                                'Problema Eléctrico', 
                                'Providencia 701, Providencia, Santiago', 
                                'Abierto', 
                                '500 pts', 
                                '-12h', 
                                'Sin Asignación', 
                                'Solucionado OK', 
                                'success'
                                )
                            hr.pb-2
                            +validacionesPendientesCards(
                                '#32132154', 
                                'Cliente Spot - Cliente Mantante Urgencia de Cooler - [Modelo] - [Logo]', 
                                'Coller no enfria', 
                                'Celocia Rota', 
                                'Problema Eléctrico', 
                                'Providencia 701, Providencia, Santiago', 
                                'Abierto', 
                                '500 pts', 
                                '-12h', 
                                'Sin Asignación', 
                                'Visitado Pendiente', 
                                'warning'
                                )
                            hr.pb-2
                            +validacionesPendientesCards(
                                '#35535654', 
                                'Cliente Spot - Cliente Mantante Urgencia de Cooler - [Modelo] - [Logo]', 
                                'Coller no enfria', 
                                'Celocia Rota', 
                                'Problema Eléctrico', 
                                'Providencia 701, Providencia, Santiago', 
                                'Abierto', 
                                '500 pts', 
                                '-12h', 
                                'Sin Asignación', 
                                'Pendiente TCM', 
                                'danger'
                                )
                            hr.pb-2
                            +validacionesPendientesCards(
                                'Nuevo', 
                                'Cliente Spot - Cliente Mantante Urgencia de Cooler - [Modelo] - [Logo]', 
                                'Coller no enfria', 
                                'Celocia Rota', 
                                'Problema Eléctrico', 
                                'Providencia 701, Providencia, Santiago', 
                                'Abierto', 
                                '500 pts', 
                                '-12h', 
                                'Sin Asignación', 
                                'Pendiente Validación', 
                                'info'
                                )
                            hr.pb-2
                            +validacionesPendientesCards(
                                'Nuevo', 
                                'Cliente Spot - Cliente Mantante Urgencia de Cooler - [Modelo] - [Logo]', 
                                'Coller no enfria', 
                                'Celocia Rota', 
                                'Problema Eléctrico', 
                                'Providencia 701, Providencia, Santiago', 
                                'Abierto', 
                                '500 pts', 
                                '-12h', 
                                'Sin Asignación', 
                                'Local Cerrado', 
                                'dark'
                                )
                            hr.pb-2


    include ../layout/_scripts