extends ../layout/_header

block append config
    -var pageTitle = 'Llamados'
    -var pageDescription = ''
    -var baseDir = ''
    -var linkSrc = ''

block mainContent
    main.content-wrapper
        section.container-fluid.pt-5.pb-3.px-5
            .row.justify-content-end
                .col-6
                    h4 Llamados
                .col-6.text-right
                    a.btn.btn-primary.text-white(href="") Crear nuevo llamado
                
        section.container-fluid.px-5
            .row.mb-5.align-items-stretch
                .col-md-5.bg-grey
                    article
                        ul
                            li.mt-2.pt-2.bg-white
                                a(href="#")
                                    ul.tecnioo-card.d-flex.align-items-stretch.w-100
                                        li.tecnioo-card--flag
                                        li.tecnioo-card--item.px-3
                                            p.tecnioo-card--title
                                                i.fas.fa-phone
                                                span.tecnioo-card--title__id #12345678
                                                span.tecnioo-card--title__status
                                            p.tecnioo-card--ticket
                                                i.fas.fa-layer-group.pr-2
                                                small.tecnioo-card--ticket__text Cliente Spot - Cliente Mantante Urgencia de Cooler - [Modelo] - [Logo]
                                            .tecnioo-card--content.mb-1
                                                span.badge.badge-light.p-2.mr-1 Coller no enfria
                                                span.badge.badge-light.p-2.mr-1 Celocia Rota
                                                span.badge.badge-light.p-2.mr-1 Problema Eléctrico
                                            p.tecnioo-card--place.pb-2
                                                i.fas.fa-map-marker-alt.tc-icon 
                                                small.pl-2 Av. Providencia 701, Providencia, Santiago
                                        li.tecnioo-card--item.px-3.ml-auto
                                            .tecnioo-card--label.mb-3
                                                small Abierto
                                                span.badge.badge-primary.p-2.ml-2 500 pts
                                            p.tecnioo-card--deadline -12h
                                            p
                                                i.fas.fa-user-circle.pr-2 
                                                span Sin Asignación
                            li.mt-2.pt-2.bg-white
                                a(href="#")
                                    ul.tecnioo-card.d-flex.align-items-stretch.w-100
                                        li.tecnioo-card--flag
                                        li.tecnioo-card--item.px-3
                                            p.tecnioo-card--title
                                                i.fas.fa-phone
                                                span.tecnioo-card--title__id Nuevo
                                                span.tecnioo-card--title__status
                                            p.tecnioo-card--ticket
                                                i.fas.fa-layer-group.pr-2
                                                small.tecnioo-card--ticket__text Cliente Spot - Cliente Mantante Urgencia de Cooler - [Modelo] - [Logo]
                                            .tecnioo-card--content.mb-1
                                                span.badge.badge-light.p-2.mr-1 Coller no enfria
                                                span.badge.badge-light.p-2.mr-1 Celocia Rota
                                                span.badge.badge-light.p-2.mr-1 Problema Eléctrico
                                            p.tecnioo-card--place.pb-2
                                                i.fas.fa-map-marker-alt.tc-icon 
                                                small.pl-2 Av. Providencia 701, Providencia, Santiago
                                        li.tecnioo-card--item.px-3.ml-auto
                                            .tecnioo-card--label.mb-3
                                                small Abierto
                                                span.badge.badge-primary.p-2.ml-2 500 pts
                                            p.tecnioo-card--deadline -12h
                                            p
                                                i.fas.fa-user-circle.pr-2 
                                                span Sin Asignación


                .col-md-7
                    article.pr-4
                        header
                            p 
                                b Procesados
                        .form-group.row.align-items-center.pl-3
                            input(type="text" placeholder="Buscar ticket").form-control.col-6
                            a(href="#").btn.btn-primary.ml-3.text-white Búscar
                            .dropdown.ml-auto
                                button.btn.btn-secondary.dropdown-toggle(type="button" id="dropdownlistButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false") Acciones
                                .dropdown-menu(aria-labelledby="dropdownlistButton")
                                    a.dropdown-item(href="") Asignar Directo
                                    a.dropdown-item(href="") Eliminar
                        ul
                            - for (var x = 0; x < 5; x++)
                                li
                                    hr
                                    ul.tecnioo-card.d-flex.align-items-stretch.w-100
                                        li.tecnioo-card--flag
                                        li.tecnioo-card--item.px-3
                                            label.custom-checkbox
                                                input(type="checkbox")
                                                span.custom-checkbox--checkmark
                                        li.tecnioo-card--item.px-3
                                            p.tecnioo-card--title
                                                span.tecnioo-card--title__id #12345678 - 
                                                span.tecnioo-card--title__text 
                                                    b Urgencia Cooler  [Modelo]
                                                span.tecnioo-card--title__status
                                            .tecnioo-card--content.mb-1
                                                span.badge.badge-light.p-2.mr-1 Coller no enfria
                                                span.badge.badge-light.p-2.mr-1 Coller no enfria
                                                span.badge.badge-light.p-2.mr-1 Coller no enfria
                                            p.tecnioo-card--place.pb-2
                                                i.fas.fa-map-marker-alt.tc-icon 
                                                small.pl-2 Cliente Spot [Logo] - Providencia, Santiago
                                        li.tecnioo-card--item.px-3.ml-auto
                                            .tecnioo-card--label.mb-3
                                                span.badge.badge-primary.p-2 500 pts
                                            p.tecnioo-card--deadline.text-center -4d
                    


    include ../layout/_scripts