extends ../layout/_header

block append config
    -var pageTitle = 'Llamados'
    -var pageDescription = ''
    -var baseDir = ''
    -var linkSrc = ''

block mainContent
    main.content-wrapper
        section.container-fluid.pt-5.pb-3.px-5
            .row
                .col-md-4.col-lg-6
                    h4 Validaciones Pendientes
                .col-md-8.col-lg-6
                    include ../layout/_filtros.pug
        section.container-fluid.px-5
            .row.mb-5.align-items-stretch
                .col-md-12.bg-grey
                    article.p-2
                        ul
                            +validacionesPendientesCards(
                                '#12345678', 
                                'Cliente Spot - Cliente Mantante Urgencia de Cooler - [Modelo] - [Logo]', 
                                'Coller no enfria', 
                                'Celocia Rota', 
                                'Problema Eléctrico', 
                                'Providencia 701, Providencia, Santiago', 
                                'Abierto', 
                                '500 pts', 
                                '-12h', 
                                'Sin Asignación', 
                                'Solucionado OK', 
                                'success'
                                )
                            +validacionesPendientesCards(
                                '#32132154', 
                                'Cliente Spot - Cliente Mantante Urgencia de Cooler - [Modelo] - [Logo]', 
                                'Coller no enfria', 
                                'Celocia Rota', 
                                'Problema Eléctrico', 
                                'Providencia 701, Providencia, Santiago', 
                                'Abierto', 
                                '500 pts', 
                                '-12h', 
                                'Sin Asignación', 
                                'Visitado Pendiente', 
                                'warning'
                                )
                            +validacionesPendientesCards(
                                '#35535654', 
                                'Cliente Spot - Cliente Mantante Urgencia de Cooler - [Modelo] - [Logo]', 
                                'Coller no enfria', 
                                'Celocia Rota', 
                                'Problema Eléctrico', 
                                'Providencia 701, Providencia, Santiago', 
                                'Abierto', 
                                '500 pts', 
                                '-12h', 
                                'Sin Asignación', 
                                'Pendiente TCM', 
                                'danger'
                                )
                            +validacionesPendientesCards(
                                'Nuevo', 
                                'Cliente Spot - Cliente Mantante Urgencia de Cooler - [Modelo] - [Logo]', 
                                'Coller no enfria', 
                                'Celocia Rota', 
                                'Problema Eléctrico', 
                                'Providencia 701, Providencia, Santiago', 
                                'Abierto', 
                                '500 pts', 
                                '-12h', 
                                'Sin Asignación', 
                                'Pendiente Validación', 
                                'info'
                                )
                            +validacionesPendientesCards(
                                'Nuevo', 
                                'Cliente Spot - Cliente Mantante Urgencia de Cooler - [Modelo] - [Logo]', 
                                'Coller no enfria', 
                                'Celocia Rota', 
                                'Problema Eléctrico', 
                                'Providencia 701, Providencia, Santiago', 
                                'Abierto', 
                                '500 pts', 
                                '-12h', 
                                'Sin Asignación', 
                                'Local Cerrado', 
                                'dark'
                                )



    include ../layout/_scripts