.row.pb-4
    .col
        h2.fs-title Horario de atención
        h3.fs-subtitle Configure el horario donde recibirá al tecnico
        hr
ul.row.px-4
    li.col-12.my-2
        h2.fs-title.py-2 Seleccionar rango de dias
        input#selectTypeOfTime
    li.col-12.my-4
        h2.fs-title.py-2 Seleccionar horario de apertura
        input#selectTimeStart
    li.col-12.my-2
        h2.fs-title.py-2 Seleccionar horario de cierre
        input#selectTimeEnd
p.text-right
    button.btn.btn-outline-primary#agregarHorario Agregar
.table-responsive#step6TableHorarios
    table.table.table-striped.mt-4
        thead
            tr
                th(scope="col") Días
                th(scope="col") Rango de apertura
                th(scope="col") Rando de cierre
        tbody#step6TableTimes
hr.mt-5
a.previous.action-buton.btn.btn-light.mr-4#step6Prev Anterior
a.btn.btn-primary.text-white.disabled#step6Next(href="" data-toggle="modal", data-target="#crearLlamadoModal" disabled) Previsualizar y enviar solicitud

