.form-row
    .form-group.col-md-6
        label(for="inputNombreContacto") Nombre Contacto
        input.form-control(type="text"  id="inputNombreContacto")  
    
    .form-group.col-md-6 
        label(for="inputEmail") Email
        input.form-control(type="email"  id="inputEmail")
.form-row
    .form-group.col-md-6
        label(for="inputTelefono") Telefono
        input.form-control(type="email"  id="inputTelefono")
    
    .form-group.col-md-6 
        label(for="inputPComentario") Comentario
        input.form-control(type="text"  id="inputcomentario" )