.form-row
    .form-group.col-md-6
        label(for="inputNombreContacto") Nombre Contacto
        input.form-control(type="text"  id="inputNombreContacto")  
    
    .form-group.col-md-6 
        label(for="inputEmail4") Email
        input.form-control(type="email"  id="inputEmail4")
.form-row
    .form-group.col-md-6
        label(for="inputEmail4") Telefono
        input.form-control(type="email"  id="inputEmail4")
    
    .form-group.col-md-6 
        label(for="inputPassword4") Comentario
        input.form-control(type="password"  id="inputPassword4" )