ul.d-flex.justify-content-between.align-items-center
    li
        input.form-control(type="text" placeholder="Ticket")
    li
        .dropdown
            button.btn.btn-light.dropdown-toggle(type="button" id="dropdownTecnicos" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false") Técnicos
            .dropdown-menu(aria-labelledby="dropdownTecnicos")
                each val in ['Todos','Pedro Carrasco','Jorge Salgado','Juan Gonzalez']
                    a.dropdown-item(href="#")= val
    li
        .dropdown
            button.btn.btn-light.dropdown-toggle(type="button" id="dropdownZona" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false") Zona TCM
            .dropdown-menu(aria-labelledby="dropdownZona")
                each val in ['Todas','Santiago','Rancagua','Viña del mar']
                    a.dropdown-item(href="#")= val
    li
        .dropdown
            button.btn.btn-light.dropdown-toggle(type="button" id="dropdownTipo" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false") Tipo de llamado
            .dropdown-menu(aria-labelledby="dropdownTipo")
                each val in ['Todos','Urgencias','Instalaciones','Modificaciones', 'Cambio de accesoio', 'Retiro', 'Vista Inspectiva', 'Capacitación','Perforaciones','Puesta en Marcha','Diagnóstico','Taller']
                    a.dropdown-item(href="#")= val
    li
        button.btn.btn-outline-primary Filtrar