.row
    .col
        h2.fs-title Información del equipo
        hr
.form-row
    .form-group.col-12
        ul.mb-3.custom-control.custom-radio#contenedorMaquinasListado
            - for (var x = 0; x < 4; x++)
                li.my-2
                    ul.tecnioo-card.d-flex.align-items-center
                        li.tecnioo-card--item
                            input.custom-control-input(type="radio" id="checkboxForMachine-"+x name="checkboxForMachine")
                            label.custom-control-label(for="checkboxForMachine-"+x)
                        li.tecnioo-card--item.p-2.bg-grey.w-100.row.align-items-center
                            .col-3.tecnioo-card--title
                                span.tecnioo-card--title__text 
                                    b [Tipo de máquina]
                            .col-3.tecnioo-card--title
                                span.tecnioo-card--title__text 
                                    b [Maquina Modelo]
                            .col-3.tecnioo-card--place 
                                span.pl-2 [Maquina Código]
                            .col-3
                                .tecnioo-card--img.m-auto
                                    img.w-100(src="./assets/img/logo-cristal.jpg", alt="")

        p.text-right.m-0
            button.btn.btn-outline-primary(href="" data-toggle="modal", data-target="#crearMaquinaModal") Agregar
hr
a.previous.action-buton.btn.btn-light.mr-4#step3Prev Anterior
a.next.action-buton.btn.btn-primary.text-white#step3Next Siguiente