

.col-12.mt-5
    h2.fs-title Seleccionar Sucursal
    hr
.col-12.my-2
    .input-group
        .input-group-prepend
            label.input-group-text.form-control(for="#step2SelectClientType") Seleccione la sucursal donde se encuentra la maquina
        select.custom-select.form-control#step2SelectClientType
            option Seleccionar
            - for (var x = 0; x < 30; x++)
                option= 'Sucursal '+ x  
.col-12.mt-4.bk-step2-hidden
    h2.fs-title Contacto asignado
    hr
    ul.pl-0.mb-3.custom-control.custom-radio#step2checkboxContact
            li.my-2
                ul.tecnioo-card.d-flex.align-items-center
                    li.form-row.tecnioo-card--item.px-2.py-3.bg-grey
                        .form-group.col-md-6
                            label(for="inputNombreContacto") Nombre Contacto
                            input.form-control(type="text"  id="inputNombreContacto")  
                        
                        .form-group.col-md-6 
                            label(for="inputEmail4") Email
                            input.form-control(type="email"  id="inputEmail4")
                            
                        .form-group.col-md-6
                            label(for="inputEmail4") Telefono
                            input.form-control(type="email"  id="inputEmail4")
                        
                        .form-group.col-md-6 
                            label(for="inputPassword4") Comentario
                            input.form-control(type="password"  id="inputPassword4" )

.col.mt-4
    h2.fs-title Información sobre el tipo de llamado
    .input-group
        .input-group-prepend
            label.input-group-text.form-control(for="step1SelectCallType") Tipo de llamado
        select#step1SelectCallType.form-control.custom-select
            each val in ['Seleccionar','Urgencias', 'Instalaciones *', 'Retiros **', 'Modificaciones', 'Perforaciones', 'Cambio de Accesorio', 'Puesta en Marcha', 'Capacitación', 'Diagnóstico', 'Visita Inspectiva', 'Taller' ]
                option= val
            
