.row
    .col
        h2.fs-title Información del problema
        h3.fs-subtitle Seleccione hasta 3 problemas de la lista
        hr

ul.form-row#step5SelectCheckbox
    each val, i in {1:'No Enfría', 2:'No Funciona', 3:'Cambiar Compresor', 4:'No Enfría', 5:'No Funciona', 6:'Cambiar Compresor', 7:'No Enfría', 8:'No Funciona', 9:'Cambiar Compresor', 10:'No Enfría', 11:'No Funciona', 12:'Cambiar Compresor'}
        .form-group.col-6
            li.custom-control.custom-checkbox
                input.custom-control-input.step5SelectCheckbox(type="checkbox" id="checkboxForProblem-"+i)
                label(class="custom-control-label" for="checkboxForProblem-"+i) #{val}
.form-group
    label(for="exampleFormControlTextarea1") Relate el problema (Opcional)
    textarea(class="form-control" id="exampleFormControlTextarea1" rows="3")
hr
a.previous.action-buton.btn.btn-light.mr-4#step5Prev Anterior
a.next.action-buton.btn.btn-primary.text-white#step5Next Siguiente