ul.d-flex.justify-content-between.align-items-baseline.text-center.mb-0
    li
        h4=diaImpreso
    li
        h4 10
        p
            small Pts programados
    li
        h4 32
        p
            small Nº Llamados
    li
        h4 7.080
        p
            small Pts programados
    li
        h4 6.100
        p
            small Pts Completados
    li
        h4 86%
        p
            small Cumplimento
    li
        button.btn.btn-sm.btn-outline-primary 
            | Actualizar 
            i.fas.fa-sync-alt
        p
            small Última actualización
            br
            small 26/02/1010 19:02 hrs
hr
ul.d-flex.justify-content-between.align-items-baseline.text-center.mb-0
    li
        .input-group.input-group-sm.mb-4
            .input-group-prepend
                label.input-group-text(for="#step2SelectClientType")
                    i.fas.fa-search
                input.form-control(type="text" placeholder="Buscar")
    li.d-flex
        span.mr-4
            small   Zona TCM
        select.form-control
            option Todos
            - for (var i = 15; i < 28; ++i) 
                option= 'Zona TCM '+i