            .row.py-4.px-lg-5.justify-content-center
                nav(aria-label="pagination")
                    ul.pagination
                        li.page-item
                            a.page-link(href="#" aria-label="Previus")
                                span(aria-hidden="true") &laquo;
                                span.sr-only Previus
                        li.page-item.active
                            a.page-link( href="#") 1
                        li.page-item
                            a.page-link( href="#") 2 
                                span.sr-only (current)
                        li.page-item
                            a.page-link( href="#") 3
                        li.page-item
                            a.page-link( href="#") 4
                        li.page-item
                            a.page-link(href="#" aria-label="Next")
                                span(aria-hidden="true") &raquo;
                                span.sr-only Next